WebRoot/WEB-INF/wsdl/FindScoreAndBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://UI.liuning.cn/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FindScoreAndBookService" targetNamespace="http://UI.liuning.cn/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://UI.liuning.cn/" schemaLocation="FindScoreAndBookService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getLibraryInfo">
    <part element="tns:getLibraryInfo" name="parameters"/>
  </message>
  <message name="getLibraryInfoResponse">
    <part element="tns:getLibraryInfoResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="getCetScore">
    <part element="tns:getCetScore" name="parameters"/>
  </message>
  <message name="getCetScoreResponse">
    <part element="tns:getCetScoreResponse" name="parameters"/>
  </message>
  <portType name="FindScoreAndBookDelegate">
    <operation name="getLibraryInfo">
      <input message="tns:getLibraryInfo"/>
      <output message="tns:getLibraryInfoResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="getCetScore">
      <input message="tns:getCetScore"/>
      <output message="tns:getCetScoreResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="FindScoreAndBookPortBinding" type="tns:FindScoreAndBookDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getLibraryInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="getCetScore">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FindScoreAndBookService">
    <port binding="tns:FindScoreAndBookPortBinding" name="FindScoreAndBookPort">
      <soap:address location="http://localhost:8080/FindSomthing/FindScoreAndBookPort"/>
    </port>
  </service>
</definitions>
